html{
    text-align: center;
}

#mainContent{
    
}

#gameLink{
    margin: 0 auto;
    width: 200px;
    border: solid 4px;
    border-color: grey;
    border-radius: 10px;
}

#game {
    margin: 0 auto;
    width: 300px;
}

#postScriptum {
    width: 150px;
    border: solid 2px gray;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}